:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  ul {
    margin-top: 11px;
    margin-bottom: 11px;

    width: 98%;

    @media (min-width: 390px) {
      width: 95%;
    }

    @media (min-width: 500px) {
      width: 80%;
    }

    height: 100%;
    justify-content: space-evenly;

    display: flex;
    flex-direction: column;
    align-items: center;

    // Safari only:
    padding-inline-start: 0px;

    li {
      list-style: none;
      margin-bottom: 10px;
    }
    li:nth-child(even) {
      color: orange;
    }

    li:nth-child(odd) {
      color: lightblue;
    }
  }
}

li {
  font-size: 0.75em;
  line-height: normal;

  @media (min-width: 390px) {
    font-size: 1.2em;
  }

  @media (min-width: 500px) {
    font-size: 1.5em;
  }

  display: flex;
  align-items: center;
}
