:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}
.header {
  padding-left: 5px;
}

mat-toolbar {
  padding: 0px 0px 0px 5px;
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 50px;
}

.content {
  padding-top: 1px;
}

.header {
  @media (max-width: 500px) {
    font-size: 90%;
  }
}

main {
  height: 100%;
}
