<mat-toolbar class="sticky-toolbar" color="primary">
  <img src="favicon.ico" alt="App Favicon" height="35" />

  <span class="header">Chuck Norris Jokes</span>
  <span class="spacer"></span>
  <button color="accent" mat-icon-button title="Jokes" routerLink="/jokes">
    <mat-icon>home</mat-icon>
  </button>

  <button
    color="accent"
    mat-icon-button
    title="Favourites"
    routerLink="/favourites"
  >
    <mat-icon>favorite</mat-icon>
  </button>

  <button
    mat-icon-button
    (click)="intervalRunningStoreService.toggleInterval()"
    title="Toggle Interval"
    color="warn"
    [@spinAnimation]="isSpin$ | async"
  >
    <mat-icon>{{
      (intervalRunningStoreService.isNewJokeIntervalRunning$ | async)
        ? hourGlass.Full
        : hourGlass.Empty
    }}</mat-icon>
  </button>
</mat-toolbar>

<main class="content"><router-outlet /></main>
