:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;

    // Safari only:
    padding-inline-start: 0px;

    li {
      list-style: none;
      margin-bottom: 20px;
    }
    li:nth-child(even) {
      color: orange;
    }

    li:nth-child(odd) {
      color: lightblue;
    }
  }
}
