<mat-toolbar class="sticky-toolbar">
  <span class="header">Chuck Norris Jokes</span>
  <span class="spacer"></span>
  <button mat-icon-button title="Jokes" routerLink="/jokes">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-icon-button title="Favourites" routerLink="/favourites">
    <mat-icon>favorite</mat-icon>
  </button>

  <button
    mat-icon-button
    (click)="jokeStoreService.toggleInterval()"
    title="Toggle Interval"
  >
    <mat-icon>{{
      (jokeStoreService.isNewJokeIntervalRunning$ | async)
        ? hourGlass.Full
        : hourGlass.Empty
    }}</mat-icon>
  </button>
</mat-toolbar>

<router-outlet />
